.map-container {
    margin-top: 20px;
    height: 340px;
    width: 340px;
}

.call-button {
    background-color: #ce2029;
    color: white;
    border-color: #A7A7A7;
    font-size: 20px;
    height: 50px;
    width: 320px;
    border-radius: 4px;
    margin-left: 0;
}

.call-title {
    font-size: 10px;
    text-align: left;
}