.emergency {
    background-color: #e08585;
    color: white;
    border-color: #A7A7A7;
    font-size: 20px;
    height: 50px;
    width: 320px;
    border-radius: 4px;
    margin-left: 0;
    margin-top: 10vmin;
  }
  
  .emergency:hover {
    background-color: #e08585;
    color: white;
  }