.about{
    background-color: var(--background-card);
    border: .3vmin solid var(--border);
    border-radius: 5%;
    margin: 5vmin
}
    
.about-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5vmin;
    border-radius: 3%;
}

    
h1 {
    text-align: center;
}
    
.about-container > p {
    font-size: 2vmin;
    padding: 2vmin;
}
    
table {
    margin: 5vmin;
    padding: 10vmin;
}
    
th {
    text-decoration: underline;
}


.profile-info{
    margin: 1px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;

}

.linkedin {
    height: 30px;
    width: 30px;  
}