.title {
    font-size: 48px;
    text-align: left;
    letter-spacing: -3px;
    line-height: 111%;
    margin-top: 20px;
}

.input-border {
    border-bottom:2px solid #A7A7A7;
}


.food-input {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    font-size: 36px;
    color: #A7A7A7;
    border: none;
    letter-spacing: -.5px;
}

.search-button {
    margin-top: 24px;
    margin-left: 0;
    margin-bottom: 23px;
    height: 55px;
    width: 100%;
    font-size: 22px;
    border-radius: 4px;
    border-color: #A7A7A7;
    color: #A7A7A7;
    background-color: #ECECEC;
}

.search-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-content: center;
    width: 320px;
    height: 100vh;
    margin: 0 10px;
}